* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  gap: 4px;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: 1fr 2fr;
}

.logo {
  justify-self:  start;
}

.header ul {
  display: grid;
  list-style-type: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sidebar {
  background-color: #FF7755;
  grid-area: 2 / 1 / 4 / 1;
  display: grid;
  gap: 50px;
  text-align: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.photo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.side-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

#nav {
  background-color: #FF7755;
  grid-area: 2 / 2 / 2 / 4;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  align-content: center;
}

#nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

#nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card {
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 /4 / 4;
  display: grid;
  align-content: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
